<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>false</withJansi>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %highlight(%logger{36}) - %highlight(%msg%n)
      </Pattern>
    </encoder>
  </appender>

  <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT"/>
  </appender>

  <logger name="com.networknt" level="ERROR">
    <appender-ref ref="ASYNC_STDOUT"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="ASYNC_STDOUT"/>
  </root>

  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

</configuration>
